@model Kunde
@{
    ViewData["Title"] = "Kunde Übersicht";
}

<h1>Kunde editieren</h1>

<form action="/Kunde/UpdateKunde" method="post">
    <input type="hidden" id="KundeId" name="KundeId" value="@(Model.KundeId)"/>
    <table class="table">

        <thead>

        <tr>
            <td>Bezeichnung</td>
            <td>Eingabe</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Vorname</td>
            <td><input type="text" id="Vorname" name="Vorname" value="@(Model.Vorname)"></td>
        </tr>
        <tr>
            <td>Nachname</td>
            <td><input type="text" id="Nachname" name="Nachname" value="@(Model.Nachname)"></td>
        </tr>
        <tr>
            <td>Postleitzahl</td>
            <td><input type="text" id="Postleitzahl" name="Postleitzahl" value="@(Model.Postleitzahl)"></td>
        </tr>
        <tr>
            <td>Strasse</td>
            <td><input type="text" id="Strasse" name="Strasse" value="@(Model.Strasse)"></td>
        </tr>
        <tr>
            <td>Hausnummer</td>
            <td><input type="text" id="Hausnummer" name="Hausnummer" value="@(Model.Hausnummer)"></td>
        </tr>
        <tr>
            <td>Geburtsdatum</td>
            <td><input asp-for="Geburtsdatum"></td>
        </tr>
        <tr>
            <td>
                <a href="/Kunde" class="btn btn-danger">Abbrechen</a>
            </td>
            <td>
                <button class="btn btn-success" type="submit">Speichern</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
