@model List<Kunde>

@{
    ViewData["Title"] = "Kunde Übersicht";
}

<h1>Da sind unsere Kunden</h1>

<a href="/Kunde/New" class="btn btn-success">Neue Kunde erstellen</a>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Postleitzahl</th>
        <th>Strasse</th>
        <th>Hausnummer</th>
        <th>Geburtsdatum</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    
    @{

        foreach (var kunde in Model)  
        {
            <tr>
                <td>@(kunde.KundeId)</td>
                <td>@(kunde.Vorname)</td>
                <td>@(kunde.Nachname)</td>
                <td>@(kunde.Postleitzahl)</td>
                <td>@(kunde.Strasse)</td>
                <td>@(kunde.Hausnummer)</td>
                <td>@(kunde.Geburtsdatum)</td>
                <td>
                    <a href="/Kunde/Edit?KundeId=@(kunde.KundeId)" class="btn btn-secondary"> Edit</a>
                    <a href="/Kunde/Delete?KundeId=@(kunde.KundeId)" class="btn btn-danger"> Delete</a>

                </td>
            </tr>
            
        }
    }
    
    </tbody>
</table>